<section
  class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-dark"
  {%
  if
  page.image
  %}
  style="background: url('{{ page.image | relative_url }}') no-repeat center center; background-size: cover;"
  {%
  endif
  %}
>
  <div class="hero-body" style="padding-top: 0px; padding-bottom: 0px">
    <div class="container">
      <h1 class="title is-2 is-family-secondary" style="margin-top: 75vh">
        {{ page.title }}
      </h1>
      <p class="subtitle is-3">{{ page.subtitle }}</p>
    </div>
  </div>
</section>
