<div class="card">
  <div class="card-content">
    <div class="media">
      <figure class="media-left">
        <a href="{{ volunteer.url | relative_url }}" class="avatar-link">
          <p class="image is-64x64">
            {% if volunteer.avatar %}
            <img
              src="{{ volunteer.avatar | relative_url }}"
              alt="{{ volunteer.name }}"
            />
            {% else %}
            <i class="fas fa-user fa-4x"></i>
            {% endif %}
          </p>
        </a>
      </figure>
      <div class="media-content">
        <a href="{{ volunteer.url | relative_url }}" class="is-block">
          <p class="title is-5">{{ volunteer.name }}</p>
        </a>

        <p class="subtitle is-5">{{ volunteer.position }}</p>
        <div class="content">
          <p>{{ volunteer.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
